<style>
    form {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    input, .form-button, select, textarea {
        margin: 10px;
        padding: 5px;
        font-size: 20px;
    }

    textarea {
        height: 150px;
        resize: none;
    }

    .form-button {
        padding: 13px;
    }

    #form {
        display: flex;
        flex-direction: column;
    }

    .error-message {
        background-color: #ff7f7f;
        font-size: 16px;
        color: red;
        border: 2px solid red;
        border-radius: 5px;
        padding: 8px;
    }

    .incorrect-field {
        border-color: red !important;
    }
</style>