<!DOCTYPE html>
<html th:lang="#{lang.code}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${@environment.getProperty('app.title')}"></title>
    <style th:replace="~{fragments/style/general :: style}"></style>
    <style th:replace="~{fragments/style/header :: style}"></style>
    <style th:replace="~{fragments/style/buttons :: style}"></style>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div id="content">
    <aside></aside>
    <main>
        <!--/*@thymesVar id="categories" type="java.util.List<io.github.akotu235.shop.service.shop.projection.read.CategoryReadModel>"*/-->
        <!--/*@thymesVar id="category" type="io.github.akotu235.shop.service.shop.projection.read.CategoryReadModel"*/-->
        <h2 th:text="#{nav.product-categories}"></h2>
        <div id="buttons">
            <a th:each="category: ${categories}" th:href="@{'/?category=' + ${category.name}}">
                <button th:text="${category.name}"></button>
            </a>
        </div>
    </main>
    <aside></aside>
</div>
<script th:src="@{/script.js}"></script>
</body>
</html>